<font size="5" color="blue"><Strong>Content Based Filtering: </Strong></font>Recommend items based on the meta data (item/user attributes)
<ol>
    <li><font size="3" color="green">User based</font>: Recommend items based on similarity between users (two users have the same attributes such as married, country of birth, etc.), so will be similar users.</li>
    <li><font size="3" color="green">Item based</font>: Recommend products based on similarity between items (Two items have the same attributes such as price, category, etc.) , so similar items.</li>
</ol>

<font size="5" color="red"><Strong>This Note book will contain 2 use cases </Strong></font>
<ol>
    <li><font size="3" color="green">cars recommender system:</font> will use the item-based content filtering approach</li>
    <li><font size="3" color="green">purchasing recommender system:</font>will use the user-based content filtering approach</li>
<ol>

<font size="5" color="green">Item-Based:</font><font size="4" color="black"></font>Recommend products based on similarity between items (Two items have the same attributes such as price, category, etc.) , so similar items.

<font size="3" color="blue">Example</font>: If the current user likes item A and item A is similar to item B (item A has the same features of item B). so will recommend product B to the current user.

<font size="5" color="blue">Problem statement:</font> Develop a recommender system help car dealers for recommending a new car a specific user based on the features that the user like.

<font size="3" color="blue">Approach:</font> Using content based filtering approache (item based)

*mtcars dataset source:* 
Henderson and Velleman (1981), Building multiple regression models interactively. Biometrics, 37, 391â€“411.

<font size="3" color="blue">The current user requirements: </font> The current user needs a car has these features
<ol>
    <li>15 mgp</li>
    <li>300 disp</li>
    <li>160 hp</li>
    <li>3.2 wt</li>
</ol>

<font size="4" color="blue"><Strong>Import libraries</Strong></font>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import NearestNeighbors

<font size="4" color="blue"><Strong>Reading the data</Strong></font>

In [2]:
cars = pd.read_csv('data/item based data//mtcars.csv')
cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

<font size="4" color="blue"><Strong>Data Cleaning</Strong></font>

<font size="2" color="green"><Strong>Feature Selection</Strong></font>

In [3]:
required_features = ['mpg','disp','hp','wt']
car_required_features = cars[required_features] 
car_required_features.head()

    mpg   disp   hp     wt
0  21.0  160.0  110  2.620
1  21.0  160.0  110  2.875
2  22.8  108.0   93  2.320
3  21.4  258.0  110  3.215
4  18.7  360.0  175  3.440

<font size="4" color="blue"><Strong>Building the item based recommender system using KNN algorithm</Strong></font>

In [4]:
item_based_recommender =  NearestNeighbors(n_neighbors=1).fit(car_required_features)

<font size="2" color="green"><Strong>Current user requirements data</Strong></font>

In [5]:
current_user = [15,300,160,3.2]

<font size="2" color="green"><Strong>Recommend a car to the current user</Strong></font>

In [6]:
item_based_recommender.kneighbors([current_user])

(array([[10.77474942]]), array([[22]], dtype=int64))

<font size="2" color="green"><Strong>Based on the recommender system:</Strong></font> will recommend the car with index 22 to the current user.

In [8]:
recomended_car = cars.iloc[22,:]
# This line just for printing in good shape
pd.DataFrame(recomended_car).transpose()

      car_names   mpg cyl disp   hp  drat     wt  qsec vs am gear carb
22  AMC Javelin  15.2   8  304  150  3.15  3.435  17.3  0  0    3    2

<font size="5" color="green">User-Based:</font><font size="4" color="black"></font> Recommend items based on similarity between users (two users have the same attributes such as married, country of birth, etc.), so will be similar users.

<font size="3" color="blue">Example</font>: If user A likes item X and user A is similar to user B (user A has the same features of user B), so recommend item X to user B.

<font size="5" color="blue">Problem statement:</font> Develop a recommender system help dealers for recommending a new product a specific user based on the features that the user has.

<font size="3" color="blue">Approach:</font> Using content based filtering approache (user based)

<font size="3" color="blue">Dataset:</font> We have 2 products (0,1), need to recommend 1 for the user based on his features

<font size="3" color="blue">The current user requirements: </font> The current user needs has these features
<ol>
    <li>Male Gender</li>
    <li>26 Age</li>
    <li>90000 salary</li>
</ol>

<font size="4" color="blue"><Strong>Reading the data</Strong></font>

In [9]:
user_products = pd.read_csv('data/user-based data/user_products.csv')
user_products.head()

    User ID  Gender  Age  EstimatedSalary  products
0  15624510    Male   19            19000         0
1  15810944    Male   35            20000         0
2  15668575  Female   26            43000         0
3  15603246  Female   27            57000         0
4  15804002    Male   19            76000         0

<font size="4" color="blue"><Strong>Data Cleaning</Strong></font>

<font size="2" color="green"><Strong>Feature Selection</Strong></font>

In [10]:
required_features = ['Gender','Age','EstimatedSalary']
user_products_required_features = user_products[required_features] 
user_products_required_features.head()

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000

<font size="4" color="blue"><Strong>Data preprocessing</Strong></font>

<font size="2" color="green"><Strong>Features Data types conversion</Strong></font>

In [11]:
user_products_required_features = pd.get_dummies(user_products_required_features)

<font size="4" color="blue"><Strong>Building the user based recommender system using KNN algorithm</Strong></font>

In [12]:
user_based_recommender =  NearestNeighbors(n_neighbors=1).fit(user_products_required_features)

<font size="2" color="green"><Strong>Current user requirements data</Strong></font>

In [13]:
current_user = [26,90000,0,1]

In [14]:
user_based_recommender.kneighbors([current_user])

(array([[1.]]), array([[34]], dtype=int64))

<font size="2" color="green"><Strong>Based on the recommender system:</Strong></font> will recommend the same product for the user with index 211 to the current user.

In [15]:
recomended_item = user_products.iloc[211,-1]
print('The recommended product for this user::', recomended_item)

The recommended product for this user:: 1

 <font size="5" color="blue"><Strong>Follow more hands-on data science use cases:</Strong></font> https://www.linkedin.com/in/ahmedhamdyse/
<ol>