<font size="5" color="blue"><Strong>Popularity based:</Strong></font> get the most popular items and recommend to users, Not personalized recommendation engine. But good for new users.

<font size="4" color="blue"><Strong>General Steps</Strong></font> 
<ol>
    <li> groupby (item) </li>  
    <li> count </li> 
    <li>  Sort and select the 3 items to recommend</li>
</ol>

<font size="3" color="blue">Problem statement:</font> Develop a recommender system for recommending a restaurant to new users.

<font size="3" color="blue">Approach:</font> Using Popularity based approache

These datasets are hosted on: https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data

<font size="4" color="blue"><Strong>Import libraries</Strong></font>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<font size="4" color="blue"><Strong>Reading the data</Strong></font>

In [2]:
rating = pd.read_csv('data/rating_final.csv')
rating.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [3]:
cuisine = pd.read_csv('data/chefmozcuisine.csv')
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

<font size="4" color="blue"><Strong>Get the most popular items</Strong></font>

<font size="2" color="green"><Strong>Groupby(item) + Count + Sort</Strong></font>

In [4]:
data = pd.DataFrame(rating.groupby('placeID')['rating'].count()) # rating here is any column it doesn't matter to be rating. we just count the rows.
sorted_places = data.sort_values('rating',ascending=False)
sorted_places.head()

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

<font size="2" color="green"><Strong>Recommend the top 3 places from sorted places</Strong></font>

In [5]:
top_3_places = sorted_places.head(3)
top_3_places

         rating
placeID
135085       36
132825       32
135032       28

<font size="2" color="green"><Strong>Extra : map places with their cuisine(type of food)</Strong></font>

In [6]:
pd.merge(top_3_places,cuisine,on='placeID')

   placeID  rating      Rcuisine
0   135085      36     Fast_Food
1   132825      32       Mexican
2   135032      28     Cafeteria
3   135032      28  Contemporary

 <font size="5" color="blue"><Strong>Follow more hands-on data science use cases:</Strong></font> https://www.linkedin.com/in/ahmedhamdyse/
<ol>